.featuredtr {
    background: #D7F6DC;
  }

a:link {
  color: #216E39;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: #40C463;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: blue;
  background-color: transparent;
  text-decoration: underline;
}
a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}